.tilt {
    transform: perspective(800px) rotateX(10deg);
    transition: transform 0.3s ease-in-out;
  }
  .player-card {
    margin: auto;
    height: 8rem;
    width: 8rem;
    background-image: url('../assets/images/card.webp');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding: 0.5rem;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    position: relative;
  
  }
  .player-card::before {
    content: "";
    position: absolute;
    inset: 0; /* Ensures it spans the entire card */
    border-radius: 12px; /* Matches the card's rounded corners */
    background: linear-gradient(90deg, rgba(255, 223, 0, 0.8), rgba(255, 200, 0, 0.5), rgba(255, 223, 0, 0.8));
    z-index: -1; /* Places the glow behind the card content */
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0; /* Initially invisible */
    transform: scale(1.2); /* Slightly larger to create the "glow" effect */
  }
  .player-card:hover::before {
    opacity: 1; /* Makes the border visible on hover */
    transform: scale(1); /* Matches the card size exactly */
    box-shadow: 0 0 8px rgba(255, 215, 0, 0.5); /* Adds a subtle glowing effect */
  }
    .formation-container {
    display: grid;
    height: 80%;
    width: 100%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
    }
  
    .SubstitutionContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));  /* Auto fit with a minimum size of 100px per card */
        gap: 10px;  /* Adjust spacing between the cards */
        justify-items: center;  /* Align cards in the center */
        max-width: 700px;
      }
   
  .no-scroll {
      overflow: hidden;
  }
  
  .add-player-card-btn {
    position: absolute;
    top: 50%; /* Move the button to the vertical center */
    left: 50%; /* Move the button to the horizontal center */
    transform: translate(-50%, -50%); /* Offset for perfect centering */
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease-in-out;
  }
  
  .add-player-card-btn:hover {
    transform: translate(-50%, -50%) scale(1.2); /* Slight zoom effect */
  }
  
  .add-player-card-btn svg {
    stroke: #fff;
  }
  
  
  
  
  
  @media (max-width: 768px) {
    #addForm {
        width: 90%;
        max-width: none;
        padding: 15px;
    }
  }