.tilt {
    transform: perspective(800px) rotateX(10deg);
    transition: transform 0.3s ease-in-out;
  }
  .player-card {
    margin: auto;
    height: 8rem;
    width: 8rem;
    background-image: url('../assets/images/card.webp');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding: 0.5rem;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    position: relative;
  
  }
    .formation-container {
    display: grid;
    height: 80%;
    width: 100%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
    }
  
   
  .no-scroll {
      overflow: hidden;
  }
  
  .add-player-card-btn {
    position: absolute;
    top: 50%; /* Move the button to the vertical center */
    left: 50%; /* Move the button to the horizontal center */
    transform: translate(-50%, -50%); /* Offset for perfect centering */
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease-in-out;
  }
  
  .add-player-card-btn:hover {
    transform: translate(-50%, -50%) scale(1.2); /* Slight zoom effect */
  }
  
  .add-player-card-btn svg {
    stroke: #fff;
  }
  
  
  
  
  
  @media (max-width: 768px) {
    #addForm {
        width: 90%;
        max-width: none;
        padding: 15px;
    }
  }